* {
    margin: 0;
    padding: 0;
}

.container * {
    border: 1px solid gray;
}

html {
    height: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr 100px; /* 좌측 사이드, 메인, 우측 사이드의 열 크기 설정 */
    grid-template-rows: 44px 1fr 100px; /* 헤더, 메인 컨텐츠, 푸터의 행 크기 설정 */
    grid-template-areas: 
    "header     header  header"  /* 첫 번째 행: 헤더 영역 */
    "side-left  main    side-right" /* 두 번째 행: 좌측 사이드, 메인, 우측 사이드 영역 */
    "footer     footer  footer"; /* 세 번째 행: 푸터 영역 */
}

figure img {
    width: 200px;
    height: 200px;
    object-fit: cover;  /* 비율에 맞춰 여백이 보이게 */
    /* object-fit: contain; */  /* 비율에 맞춰 짤려 보이게 */
    border-radius: 50%;
}

.header {
    grid-area: header;
}

nav {
    height: 100%;   /* 44px */
}

.side1 {
    grid-area: side-left;
}

main {
    grid-area: main;
}

.side2 {
    grid-area: side-right;
}

footer {
    grid-area: footer;
}